.navbar {
    background-color: #1c3d74;    
}
.navbar .nav-link {
    color: #fff !important;
}
.navbar .nav-link.active {
    font-weight: bold;
    border-bottom: 2px solid #fff;
}
.player-card {
    background-color: rgb(224, 114, 215);
    border: none;
    border-radius: 12px;
}